@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.component-activity {
    width: 100%;

    .tabs-squeezed {
        margin: 0 $spacer * 9;
        margin-bottom: $spacer;
        margin-top: $spacer * 3;
    }

    .activity {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        margin-bottom: $spacer * 1.5;

        .activity-icon {
            align-items: center;
            display: flex;
            flex: 0 0 0;
            justify-content: left;
            padding: $spacer;
            position: relative;
            width: $spacer * 6;

            &::after {
                background: $grey-color-lightest;
                border: 1px solid $grey-color-lighter;
            }

            &::after {
                @include icon-size($spacer * 4);
                border-radius: 50%;
                content: '';
                left: 0;
                position: absolute;
                z-index: 10;
            }

            &.success {
                &::after {
                    background: $brand-color;
                }
            }

            svg {
                @include icon-size($spacer * 2);
                color: $brand-color;
                z-index: 100;
            }
        }

        .item-info {
            display: flex;
            flex: 10 0 auto;
            flex-direction: column;
            // Required to have ellipsis text overflow on .name.
            min-width: 0;
            padding-left: $spacer * 2.5;


            .description {
                color: $grey-color;
                font-size: 0.9rem;
            }
        }

        .activity-label {
            background: $grey-color-lightest;
            border: 1px solid $grey-color-lighter;
            border-radius: $spacer * 4;
            color: $brand-color;
            flex: 1 1 150px;
            font-family: 'Rajdhani';
            font-weight: 600;
            padding: $spacer / 2 $spacer;
            text-align: center;
            text-overflow: ellipsis;
            text-transform: uppercase;

            &::placeholder {
                color: $brand-color;
            }
        }
    }
}
