@import 'ca11/lib/variables';
@import 'ca11/lib/mixins';

.component-calls {
    // Push the soundmeter to the bottom.
    display: flex;
    flex-direction: column;

    .component-call-keypad {
        margin: $spacer * 2 0;
    }

    .call-type {
        align-items: center;
        display: flex;
        font-weight: bold;
        justify-content: center;
        text-align: center;

        strong {
            font-weight: bold;
        }

        .switch-light {
            width: 100px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .call-active {
        display: flex;
        flex-direction: column;

        .call-components {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }

    &.call-ongoing {
        background: $white-tint-color-dark;
    }

    .calls-disabled {
        align-items: center;
        color: $grey-color-lighter;
        display: flex;
        flex-direction: column;
        margin-top: $spacer * 6;
        width: 100%;

        .disabled-icon {
            @include icon-size($spacer * 8);
            color: $grey-color-lighter;
        }

        .disabled-text {
            color: $red-color;
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: $spacer * 3;
            text-align: center;
            width: 100%;
        }

        .disabled-reason {
            color: $grey-color;
            font-style: italic;
            margin-bottom: $spacer * 2;
            margin-top: $spacer;
            text-align: center;
            width: 100%;
        }
    }

}
