@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.media-strip {
    background: $grey-color-lightest;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 150px;
    min-width: 75px;
    padding: $spacer / 2;

    .media-container {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: $spacer / 2;
        width: 100%;

        &.local {
            margin-bottom: $spacer * 2;
        }

        video {
            width: 100%;
        }
    }
}
