@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.component-media-strip {
    background: $grey-color-lightest;
    display: flex;
    flex-direction: column;
    margin-left: $spacer / 2;
    width: $spacer * 6;

    @media screen and (min-width: $breakpoint-mobile) {
        width: $spacer * 12;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        width: $spacer * 20;
    }

    .media-container {
        border-right: $spacer / 2 solid $grey-color-lighter;

        &:hover {
            cursor: pointer;
        }

        &.selected {
            // box-shadow: 0 0 $spacer #000;
            border-right: $spacer / 2 solid $brand-color;
        }
    }
}
