@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.component-call-options {
    align-items: center;
    background: $grey-color-lighter;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .option {
        background: $grey-color-lightest;
        border: 0;
        color: $grey-color;
        margin-right: $spacer;
        padding: $spacer * 1.5;
        text-align: center;
        user-select: none;

        svg {
            @include icon-size($spacer * 4);
        }

        &:hover {
            color: $brand-color;
            cursor: pointer;
        }

        &.active {
            background: $white-color;
            // border: 2px solid $grey-color-lighter;
            color: $brand-color;
        }

        &[disabled] {
            background: rgba($grey-color-lighter, 0.2);
            color: rgba($grey-color, 0.2);
            cursor: not-allowed;

            + p {
                color: $grey-color-lighter;
            }
        }


        p {
            color: lighten($grey-color, 15%);
            font-size: 0.9rem;
            font-weight: 500;
            user-select: none;
        }
    }
}
