@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.c-media-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    height: 100%;
    position: relative;



    @media screen and (min-width: $breakpoint-mobile) {
        grid-template-columns: repeat(auto-fill, 50%);
    }

    @media screen and (min-width: $breakpoint-tablet) {
        grid-template-columns: repeat(auto-fill, calc(100% / 3));
    }

    .media-stream {
        video {
            background: none;
        }
    }
}
