@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.media-view {
    background: $grey-color-lightest;
    display: grid;
    flex: 1;
    grid-gap: var(--spacer);
    margin: var(--spacer);
    padding: var(--spacer);

    &.x1 {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    &.x2 {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    &.x3 {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    &__media-stream {
        border: var(--spacer) solid $white-color;

        video {
            background: none;
        }

    }
}
