@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.media-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    width: 100%;


    @media screen and (min-width: $breakpoint-mobile) {
        grid-template-columns: repeat(auto-fill, calc(100% / 2));

        &.x1 {
            grid-template-columns: repeat(auto-fill, 100%);
        }
    }

    @media screen and (min-width: $breakpoint-tablet) {
        &.x1 {
            grid-template-columns: repeat(auto-fill, calc(100% / 2));
        }

        &.x2 {
            grid-template-columns: repeat(auto-fill, 50%);
        }

        &.x3 {
            grid-template-columns: repeat(auto-fill, calc(100% / 3));
        }
    }

    .media-stream {
        // border: var(--spacer) solid $white-color;
        // margin: var(--spacer);

        video {
            background: none;
        }

    }
}
