{
    "brands": {
        "ca11": {
            "colors": {
                "primary-color": "#601111",
                "green-color": "#508654",
                "orange-color": "#f98644",
                "red-color": "#a75147"
            },
            "plugins": {
                "builtin": {
                    "contacts": {
                        "i18n": [],
                        "providers": []
                    }
                },
                "custom": {}
            },
            "name": {
                "alpha": "CA11-alpha",
                "beta": "CA11-beta",
                "production": "CA11"
            },
            "permissions": "",
            "sig11": {
                "endpoint": "sig11.dev.ca11.io"
            },
            "sip": {
                "endpoint": ""
            },
            "stun": [
                "stun:stun3.l.google.com:19302",
                "stun:stun4.l.google.com:19302"
            ],
            "store": {
                "chrome": {
                    "clientId": "",
                    "clientSecret": "",
                    "extensionId_alpha": "",
                    "extensionId_beta": "",
                    "extensionId_production": "",
                    "refreshToken": ""
                },
                "firefox": {
                    "apiKey": "",
                    "apiSecret": "",
                    "gecko": {
                        "id_alpha": "",
                        "id_beta": "",
                        "id_production": "",
                        "strict_min_version": ""
                    }
                }
            },
            "telemetry": {
                "sentry": {
                    "apiKey": "",
                    "dsn": "",
                    "host": "",
                    "org": "",
                    "project": "ca11"
                }
            },
            "tests": {
                "alice": {
                    "endpoint": "sip.dev.ca11.io",
                    "username": "1000",
                    "password": "unsecurepassword"
                },
                "bob": {
                    "endpoint": "sip.dev.ca11.io",
                    "username": "2000",
                    "password": "unsecurepassword"
                },
                "charlie": {
                    "endpoint": "sip.dev.ca11.io",
                    "username": "3000",
                    "password": "unsecurepassword"
                },
                "headless": false,
                "port": 3000
            },
            "theme": "@garage11/ca11-theme-default",
            "vendor": {
                "name": "CA11",
                "support": {
                    "email": "",
                    "phone": "",
                    "website": ""
                }
            }
        }
    }
}
