@import 'ca11/lib/variables';

@mixin instruction-zoom() {
    animation: tooltip-#{$direction} 1s ease-in both;

    @keyframes tooltip-#{$direction} {
        0% {opacity: 0;}
        50% {opacity: 100;}
        100% {opacity: 0;}
    }
}


.c-page {
    display: flex;
    flex-direction: column;
    max-width: $breakpoint-tablet;

    pre {
        // background: none;
        margin: 0;
        overflow: visible;
        padding: $spacer;
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 0;
        padding: 0;
    }

    p {
        color: var(--grey-300);
        font-size: var(--text-base);
        letter-spacing: 0.3px;
        margin: $spacer 0;
    }

    h1 {
        color: var(--primary-base);
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    h2 {
        color: var(--primary-base);
        font-size: var(--text-huge);
        font-weight: 500;
        margin-top: $spacer * 2;
    }

    h3 {
        color: var(--grey-400);
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: $spacer;
        text-transform: uppercase;
    }

    h4 {
        color: $grey-color;
        font-size: 1.2rem;
    }

    strong {
        font-weight: 500;
    }

    .steps-images {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: $spacer * 3 0;
        width: 100%;

        .cell {
            background-color: var(--grey-50);
            flex: 1 1 auto;
            padding: 10px;
            text-align: center;

            img {
                flex-grow: 1;
                max-height: 300px;
                max-width: 100%;
            }
        }
    }
}


.instructions {
    counter-reset: instruction-counter;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-top: $spacer * 5;
    padding: 0;
    width: 100%;

    &.steps {
        .instruction {
            counter-increment: instruction-counter;

            &__image {
                &::before {
                    align-items: center;
                    color: var(--primary-base);
                    content: 'Step ' counter(instruction-counter);
                    display: flex;
                    font-family: 'Rajdhani';
                    font-size: var(--text-base);
                    font-weight: bold;
                    height: 20px;
                    justify-content: center;
                    margin-top: -$spacer * 3;
                    position: absolute;
                    z-index: 100000;
                }
            }
        }
    }


    @at-root .instruction {
        display: flex;
        font-weight: bold;
        margin-bottom: $spacer * 5;
        position: relative;
        width: 50%;

        &__image {
            flex: 0 0 175px;

            img {
                border: var(--border) solid var(--grey-50);
                box-shadow: 0 0 $spacer rgba(palette('grey', 400), 0.8);
                position: relative;
                transition: all 0.5s ease-in-out;
                width: 175px;
                z-index: 100000000;

                &:hover {
                    transform: scale(2);
                    z-index: 100000001;
                }
            }
        }

        &__text {
            color: var(--grey-300);
            font-family: 'Rajdhani';
            font-weight: 500;
            margin: 0 $spacer;

            &::first-letter {
                font-weight: 600;
            }
        }


        &__note {
            background: var(--grey-50);
            border: var(--border) dotted var(--grey-100);
            padding: var(--gutter);
        }

        &__warn {
            background: var(--grey-50);
            border: var(--border) dashed $red-color;
            padding: var(--gutter);
        }

        &__ref {
            color: var(--primary-base);
            font-family: 'Rajdhani';
            font-size: var(--text-small);
            font-weight: 600;
            position: relative;
            top: -$spacer;
            width: 0;
        }
    }
}
