@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-wizard {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column-end: 4;
    grid-column-start: 1;
    grid-row-end: main-content;
    grid-row-start: main-status;
    padding: $spacer * 3;
    width: 100%;
    margin: 0 auto;
    max-width: $breakpoint-mobile;

    &__header {
        color: var(--primary-base);
        font-family: 'Rajdhani';
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: $spacer * 2;
        text-transform: uppercase;
    }

    &__description {
        color: var(--grey-300);

        text-align: center;
    }

    &__help {
        font-size: var(--text-small);
        font-weight: 300;
        margin-top: var(--spacer);
    }

    &__progress {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: $spacer * 3;
        margin-top: $spacer * 3;

        &-step {
            @include icon-size($spacer * 1.5);
            background: var(--grey-200);
            border-radius: 50%;
            margin-right: $spacer * 1.5;


            &.active {
                background: var(--primary-base);
            }
        }
    }

}
