@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-wizard {
    padding: $spacer * 3;


    .step {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 600px;
        text-align: center;

        > header {
            color: var(--primary-base);
            font-family: 'Rajdhani';
            font-size: 1.8rem;
            font-weight: 600;
        }

        .step-description {
            color: var(--grey-300);
            padding: $spacer * 2 0;
            text-align: center;
            width: 75%;
        }

        .step-container {
            color: var(--grey-300);
            width: 75%;
        }
    }

    .progress {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: $spacer * 3;
        margin-top: $spacer * 3;

        .step-hl {
            @include icon-size($spacer * 1.5);
            background: var(--grey-200);
            border-radius: 50%;
            margin-right: $spacer * 1.5;


            &.active {
                background: var(--primary-base);
            }
        }
    }

}
