@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.component-wizard {
    padding: $spacer * 4;

    .step {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 600px;
        text-align: center;

        > header {
            color: $brand-color;
            font-family: 'Rajdhani';
            font-size: 1.8rem;
            font-weight: 600;
        }

        .step-description {
            color: $grey-color-dark;
            padding: $spacer * 2 0;
            text-align: center;
            width: 75%;
        }

        .step-container {
            color: $grey-color-dark;
            width: 75%;
        }
    }

    .progress {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: $spacer * 3;
        margin-top: $spacer * 3;

        .step-hl {
            @include icon-size($spacer * 1.5);
            background: $grey-color-light;
            border-radius: 50%;
            margin-right: $spacer * 1.5;


            &.active {
                background: $brand-color;
            }
        }
    }

}
