@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.component-call-media {
    background: $grey-color-lightest;
    display: grid;
    flex: 1;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: $breakpoint-tablet) {
        grid-template-columns: 100%;
    }

    .media-container {
        border: $spacer / 2 solid $white-color;
        margin: $spacer;

        video {
            background: none;
        }
    }

    .placeholder {
        background: $grey-color-lighter;
        border: $spacer / 2 dashed $grey-color-lightest;
        color: $grey-color-dark;
        font-family: 'Rajdhani';
        font-weight: 600;
        text-align: center;

        svg {
            @include icon-size($spacer * 4);
        }
    }

    &.x1 {
        .media-container {

        }
    }
}
