@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.header {
    $self: &;

    align-items: stretch;
    background: $grey-color-lighter;
    border-right: $spacer / 4 solid $grey-color-lightest;
    display: flex;
    justify-content: flex-start;
    width: 100%;

    &__icon {
        background: $brand-color;
        fill: $white-color;
    }

    &__text {
        color: $brand-color;
        display: none;
        font-family: 'Rajdhani';
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: $spacer;
        text-transform: uppercase;
    }

    &__actions {
        align-items: center;
        border-right: $spacer / 2 solid $brand-color;
        color: $brand-color;
        display: flex;
        flex-direction: row-reverse;
        padding-right: $spacer;

        #{$self}__action {
            border: 0;
            height: $spacer * 4;
            margin-left: $spacer;
            user-select: none;

            svg {
                @include icon-size(var(--icon-normal));
                fill: $grey-color-light;
            }
        }
    }

    &__filters {
        align-items: center;
        display: flex;
        flex: 1;
        height: 100%;
        margin-left: $spacer;

        #{$self}__filter {
            align-items: center;
            color: $grey-color-light;
            display: flex;
            justify-content: center;
            margin-right: $spacer;
            padding: 0;
            padding-right: $spacer / 4;
            user-select: none;

            &--active {
                color: $grey-color;

                svg {
                    border: 2px solid $brand-color;
                    fill: $brand-color;
                }
            }

            &:hover {
                cursor: pointer;
            }

            svg {
                @include icon-size(var(--icon-large));
                background: $grey-color-lightest;
                border: $spacer / 4 solid $white-color;
                border-radius: 50%;
                padding: $spacer / 2;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-mobile) {
    .header {
        border-right: $spacer / 2 solid $grey-color-lightest;

        &__icon {
            @include icon-size($spacer * 6.5);
        }

        &__text {
            align-items: center;
            display: flex;
        }

        &__actions {
            border-right: $spacer solid $brand-color;
        }

        &__filters {
            &-button svg {
                @include icon-size($spacer * 5);
            }
        }
    }
}



