@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';
@import './main-content-header';


.c-main {
    border-top: $spacer / 2 solid $brand-color;
    height: 100vh;
    padding-right: $spacer / 2;
    width: 100vw;

    &__content {
        // border-left: $spacer / 4 solid $white-color;

        .main {
            border-right: $spacer / 4 solid $white-color;
            overflow-y: scroll;
            width: 100%;
        }
    }

    &__status-leave-to,
    &__status-enter {
        transform: translateY(-#{$space-4});
        transition: transform 0.2s ease-in-out;
    }

    &__status-leave,
    &__status-enter-to {
        transform: translateY(0);
        transition: transform 0.2s ease-in-out;
    }

    &__overlay {
        animation: grow 0.3s ease-in-out;
        background: $white-color;
        height: 100vh;
        position: absolute;
        width: 100%;
        z-index: 100000000;

        .close-button {
            position: absolute;
            right: $spacer;
            top: $spacer;

            &:hover {
                color: $brand-color;
                cursor: pointer;
            }
        }
    }
}
