@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.c-main {
    border-top: $spacer / 2 solid $brand-color;
    display: grid;
    flex: 1;
    grid-template-columns: [menu] 50px [content] auto;
    grid-template-rows:
        [status] 50px
        [content] auto
        [footer] 50px;
    height: 100vh;
    position: relative;
    width: 100vw;

    .main-menu {
        grid-column: menu;
        grid-row: content / 6;
    }

    .main-status {
        grid-column: menu / 4;
        grid-row: status;
    }

    .main-content {
        display: grid;
        // Position in the main grid.
        grid-column: content / 4;
        grid-row: content / 6;

        // Define a grid for the main content.
        grid-template-columns: [content] auto [sidebar] 100px;
        grid-template-rows:
            [subnav] 50px
            [content] auto;
    }

    .overlay {
        animation: grow 0.3s ease-in-out;
        background: $white;
        position: absolute;
        width: 100%;

        .close-button {
            position: absolute;
            right: $spacer;
            top: $spacer;

            &:hover {
                color: $brand-color;
                cursor: pointer;
            }
        }
    }
}
