@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.component-main {
    position: relative;

    .overlay {
        animation: grow 0.3s ease-in-out;
        background: $white;
        position: absolute;
        width: 100%;

        .close-button {
            position: absolute;
            right: $spacer;
            top: $spacer;

            &:hover {
                color: $brand-color;
                cursor: pointer;
            }
        }
    }

    .app-view {
        display: flex;
        flex-direction: column;
        // max-height: $max-popup-height;

        .app-view-top {
            min-height: $spacer * 5;
        }

        .app-view-main {
            align-content: stretch;
            display: flex;
            flex: 1;
            flex-direction: row;
            // z-index: 100000000;
            // Show a scrollbar when the content height exceeds the max-height.

            .app-view-layer {
                flex: 1;
                min-height: $min-popup-height + ($spacer * 5);
                // overflow-y: auto;

                &.padded {
                    padding: $spacer * 3;
                }

                .title {
                    color: $brand-color;
                    font-size: 1.3rem;
                    font-weight: 600;
                }

                header {
                    .header-line {
                        display: flex;
                        font-family: 'Rajdhani';
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
