.vertical-devider {
    background: $grey-color-light;
    height: $spacer * 3;
    margin: 0 $spacer;
    width: 2px;
}



.filter-bar {
    .title {margin: 0;}
}

.action-bar {
    align-items: center;
    display: flex;
    margin-bottom: $spacer * 2;

    .field.field-text.search {
        margin-bottom: 0;
        margin-right: $spacer / 2;

        input {
            border: 2px solid $grey-color-light;
        }
    }


    .action {
        height: $spacer * 4;
        // background: #0f0;

        &:hover {
            cursor: pointer;

            svg {
                fill: $brand-color;
            }
        }

        &.active {
            svg {
                color: $brand-color;
            }
        }

        svg {
            @include icon-size($spacer * 4);
            color: $grey-color-light;
        }

    }
}
