.header-bar {
    .header-bar-title {
        color: $brand-color;
        flex: 1;
        font-family: 'Rajdhani';
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0;
        margin-right: $spacer * 2;
    }
}

.filter-line {
    display: flex;
    margin-bottom: $spacer / 2;
    width: 100%;

    .content-filters {
        align-items: center;
        display: flex;
        font-size: 0.9rem;

        .filter {
            align-items: center;
            color: $grey-color-light;
            display: flex;
            font-family: 'Rajdhani';
            font-weight: 600;
            justify-content: center;
            margin-bottom: 0;
            margin-right: $spacer;
            user-select: none;
            vertical-align: middle;

            svg {
                @include icon-size($spacer * 3);
                background: $grey-color-lightest;
                border-radius: 50%;
                padding: $spacer / 2;
            }

            span {
                margin-left: $spacer / 2;
                overflow: hidden;
            }

            &.active {
                color: $grey-color;
                svg {fill: $brand-color;}
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.action-line {
    align-items: center;
    display: flex;
    margin-bottom: $spacer * 2;

    .field.field-text.search {
        margin-bottom: 0;
        margin-right: $spacer / 2;

        input {
            border: 2px solid $grey-color-light;
        }
    }


    .action {
        background: none;
        border: 0;
        height: $spacer * 4;
        padding: 0;
        user-select: none;

        &:hover {
            cursor: pointer;

            svg {
                fill: $brand-color;
            }
        }

        &.active {
            svg {
                color: $brand-color;
            }
        }

        svg {
            @include icon-size($spacer * 4);
            color: $grey-color-light;
        }

    }
}
