@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.header {
    $self: &;

    align-items: stretch;
    background: var(--grey-100);
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;

    &__icon {
        background: var(--primary-base);
        fill: $white-color;
        height: 100%;
        padding: var(--spacer);
    }

    &__text {
        align-items: center;
        bottom: 0;
        color: var(--grey-200);
        display: flex;
        font-family: 'Rajdhani';
        font-size: 0.75rem;
        font-weight: 600;
        margin-right: var(--spacer);
        position: absolute;
        right: var(--spacer);
        text-transform: uppercase;
    }

    &__actions {
        align-items: center;
        // Border in the same style as the scroll trackbar.
        border-right: var(--gutter12) solid var(--primary-base);
        color: var(--primary-base);
        display: flex;
        flex-direction: row-reverse;


        #{$self}__action {
            padding-right: var(--gutter12);
            // margin-left: var(--spacer);

            svg {
                @include icon-size(var(--icon-normal));
            }
        }
    }

    &__filters {
        align-items: center;
        display: flex;
        flex: 1;
        height: 100%;
        margin-left: var(--gutter);

        #{$self}__filter {
            align-items: center;
            color: var(--grey-200);
            display: flex;
            justify-content: center;
            // Override .field's margin-bottom.
            margin: 0;
            margin-right: $spacer;
            padding: 0;
            padding-right: var(--spacer);
            user-select: none;

            &.active {
                color: $grey-color;

                svg {
                    border: $spacer / 4 solid var(--primary-base);
                    fill: var(--primary-base);
                }
            }

            &:hover {
                cursor: pointer;
            }

            svg {
                @include icon-size(var(--icon-large));
                background: var(--grey-50);
                border: $spacer / 4 solid $white-color;
                border-radius: 50%;
                padding: var(--spacer-05);
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: flex-start;
        width: 100%;

        li {
            align-items: center;
            border-bottom: var(--gutter12) solid transparent;
            border-top: var(--gutter12) solid transparent;
            color: var(--grey-200);
            display: flex;
            // flex: 1;
            justify-content: center;
            width: var(--space-4);

            &.active {
                border-bottom: var(--gutter12) solid var(--primary-base);
                color: var(--primary-base);
            }

            svg {
                @include icon-size(var(--icon-normal));
            }

            &.disabled {
                opacity: 0.3;

                &:hover {
                    cursor: not-allowed;
                }
            }
        }
    }
}
