/**
* Generic layout for an item list.
*/
.item-list {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;

    button {
        &:hover {
            cursor: pointer;
            svg {fill: $brand-color;}
        }

        &[disabled] {
            svg {fill: $grey-color-light;}

            &:hover {
                cursor: not-allowed;
                svg {fill: $grey-color-lighter;}
            }
        }
    }

    svg {
        @include icon-size($spacer * 3.5);
    }

    .item-container {
        margin-bottom: $spacer;
        padding: $spacer / 4;

        &.selected {
            box-shadow: 0 0 5px rgba($grey-color-darkest, 0.5);
        }
    }

    .item-header {
        align-items: center;

        display: flex;
        margin-right: $spacer / 2;

        svg {
            background: $grey-color-lightest;
            border-radius: 50%;
            fill: $grey-color-light;
        }
    }

    .item-options {
        display: flex;
        margin-left: $spacer / 2;
    }

    .item-option {
        align-items: center;
        background: none;
        border: 0;
        color: $grey-color-light;
        display: flex;
        justify-content: center;
        padding: 0;
        transition: color ease-in-out 0.1s;
        user-select: none;

        &.active {
            color: $brand-color;

            &:hover {
                color: $brand-color;
            }
        }

        &:hover {
            color: $brand-color;
            cursor: pointer;
        }
    }

    .item-context,
    .item {
        .item-tag {
            align-items: center;
            display: flex;
            padding: $spacer / 2;

            .activity-label {
                flex: 100px 100px 1;
            }
        }

        // Editable inputs.
        input.item-tag {
            border: 1px solid transparent;

            &:not([readonly]) {
                border: 1px dashed $grey-color-lighter;
            }
        }
    }

    .item {
        align-items: flex-stretch;
        display: flex;
        position: relative;
        width: 100%;

        .item-info {
            display: flex;
            flex: 1;
            flex-direction: column;
            // Required to have ellipsis text overflow on .name.
            justify-content: center;
            line-height: 1;
            min-width: 0;

            .item-handle {
                align-items: center;
                display: flex;

                .item-tag {
                    color: $grey-color-darker;
                    display: inline-block;
                    flex: 4 1 auto;
                    font-family: 'Rajdhani';
                    font-size: 1.2rem;
                    font-weight: 600;
                    height: $spacer * 3;
                    justify-content: space-between;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                }
            }

            .item-description {
                color: $grey-color-light;
                display: flex;
                font-size: 0.9rem;
                padding-left: $spacer / 2;
            }
        }

        &:hover {
            .item-options {
                display: flex;
            }
        }
    }

    // A selected item can have extra space beneath.
    .item-context {
        .no-items {
            color: $grey-color;
            font-family: 'Rajdhani';
            font-weight: 600;
            padding: $spacer;
            width: 100%;
        }

        .context-item {
            display: flex;
            flex-direction: row;
            margin-bottom: $spacer / 2;
            padding-left: 0;

            &:last-child {
                margin-bottom: 0;
            }

            &.writable {
                .context-item-icon {
                    border: 1px dashed $grey-color-lighter;
                }
            }

            &:not(.writable) {
                &:hover {
                    background: $grey-color-lightest;
                }
            }

            .context-item-icon {
                align-items: center;
                background: none;
                border: 1px dashed transparent;
                color: $grey-color;
                display: flex;
                justify-content: center;
                margin-right: $spacer / 2;
                text-align: center;

                &:hover {
                    cursor: pointer;
                    svg {fill: $brand-color;}
                }

                &[disabled] {
                    &:hover {
                        cursor: not-allowed;
                        svg {fill: $grey-color-lighter;}
                    }
                }
            }

            input.item-tag {
                background: none;
                color: $grey-color-darker;
                flex: 1;
                padding: $spacer;
                width: 100%;
            }

            .context-item-options {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin-left: $spacer / 2;
            }
        }
    }

    &.x-1 {
        .context-item-icon {
            width: $spacer * 6;
        }

        .item-container {
            width: 100%;
        }

        .item-header {
            .item-icon {
                @include icon-size($spacer * 6);
                padding: $spacer / 2;
            }
        }


    }

    &.x-2 {
        .context-item-icon {
            width: $spacer * 4.5;
        }

        .item-container {
            width: 50%;
        }

        .item-header {
            .item-icon {
                @include icon-size($spacer * 4.5);
                padding: $spacer / 2;
            }
        }

        .item-info {
            .endpoints {
                bottom: -$spacer / 4;
            }
        }

        svg {
            @include icon-size($spacer * 3);
        }
    }

    &.x-3 {
        .context-item-icon {
            width: $spacer * 3.5;
        }

        .item-container {
            width: calc(100% / 3);
        }

        .item-info {
            .item-handle {
                .item-tag {
                    font-size: 1rem;
                }
            }
        }

        svg {
            @include icon-size($spacer * 2.5);
        }

        .item-header {
            .item-icon {
                @include icon-size($spacer * 3.5);
                padding: $spacer / 2;
            }
        }
    }

}
