// Replaces an item with an option menu when
// hovering over the item.

.item-list {
    .item-options {
        display: flex;
    }

    .item-option {
        align-items: center;
        background: none;
        border: 0;
        color: $grey-color-light;
        display: flex;
        justify-content: center;
        margin-left: $spacer / 2;
        padding: 0;
        transition: color ease-in-out 0.1s;
        user-select: none;

        svg {
            @include icon-size($spacer * 3.25);
        }

        &.active {
            color: $brand-color;

            &:hover {
                color: $brand-color;
            }
        }

        &:hover {
            color: $brand-color;
            cursor: pointer;
        }
    }

    .item-context,
    .item {
        input {
            border: 1px solid transparent;
            padding: $spacer / 2;
            // Editable inputs.
            &:not([readonly]) {
                border: 1px dashed $grey-color-lighter;
            }
        }
    }

    .item {
        margin-bottom: $spacer;
        padding: $spacer / 2;

        .item-info {
            display: flex;
            flex: 1;
            flex-direction: column;
            // Required to have ellipsis text overflow on .name.
            min-width: 0;

            .name {
                color: $grey-color-darkest;
                flex: 1;
                font-family: 'Rajdhani';
                font-size: 1.2rem;
                font-weight: 600;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .description {
                color: $grey-color-light;
                font-size: 0.9rem;
            }
        }

        &:hover {
            .item-options {
                display: flex;
            }
        }
    }

    &.x-3 {
        .item {
            .item-options {
                .item-option {
                    margin-left: 0;
                    padding: $spacer / 4;

                    svg {
                        @include icon-size($spacer * 2);
                    }
                }
            }

        }
    }

    &.x-2 {
        .item {
            .item-options {
                margin-right: $spacer;

                .item-option {
                    svg {
                        @include icon-size($spacer * 2.5);
                    }
                }
            }
        }
    }

    // A selected item can have extra space beneath.
    .item-context {
        margin-bottom: $spacer / 2;

        .no-items {
            color: $grey-color;
            font-family: 'Rajdhani';
            font-weight: 600;
            padding: $spacer;
            width: 100%;
        }

        .context-item {
            display: flex;
            flex-direction: row;
            margin-bottom: $spacer / 4;
            padding-left: 0;

            .context-item-icon {
                @include icon-size($spacer * 4);
                border: 1px dashed transparent;
                color: $grey-color;
                margin: 0 $spacer;
                padding: $spacer / 2 0;
                text-align: center;
                width: $spacer * 5;

                &.writable {
                    border: 1px dashed $grey-color-lighter;

                    :hover {
                        cursor: pointer;
                        fill: $brand-color;
                    }
                }
            }

            input.name {
                color: $grey-color-darker;
                flex: 1;
            }

            .context-item-options {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin: 0 $spacer;
                // min-width: 100px;

                svg {
                    @include icon-size($spacer * 2.5);
                }
            }
        }

    }
}
