// Bulma tabs with some minor modifications.

.tabs {
    height: $spacer * 7;
    margin-bottom: 0;

    &:not(:last-child) {
        margin-bottom: $spacer * 2;
    }

    ul {
        display: flex;
        justify-content: space-between;

        li {
            flex-grow: 1;


            &.disabled {
                opacity: 0.3;

                a {
                    &:hover {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    a {
        border-bottom: $spacer / 2 solid $grey-color-lightest;
        font-family: 'Rajdhani';
        font-weight: 600;
        height: $spacer * 7;
        text-transform: uppercase;

        svg {
            @include icon-size($spacer * 3);
            margin-right: $spacer;
        }
    }
}

// Button beneath tabs.
.tabs-actions {
    padding: $spacer ($spacer * 3);
    padding-bottom: $spacer * 2;
}

.tab {
    display: none;
    padding: 0 ($spacer * 3);

    &.is-active {
        display: block;
    }
}
