@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.component-about {
    .about {
        align-items: center;
        display: flex;
        flex-direction: column;

        .about-version {
            padding-top: $spacer * 3;
            text-align: center;

            .version-logo {
                @include icon-size($spacer * 6);
                margin-bottom: $spacer;
            }

            .version-name {
                font-family: 'Rajdhani';
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: $spacer * 2;
            }
        }
    }

    .support {
        display: flex;
        flex-flow: row wrap;
        padding: $spacer * 3;

        .support-option {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 160px;
            justify-content: center;
            width: 50%;

            .support-icon {
                @include icon-size($spacer * 3);
                margin-bottom: $spacer * 2;
            }

            .support-title {
                color: $brand-accent-color;
                font-family: 'Rajdhani';
                font-weight: 600;
            }

            .support-description {
                text-align: center;
            }

            .support-channel {
                color: $brand-color;
                font-family: 'Rajdhani';
                font-weight: 600;
            }

            &:hover {
                box-shadow: 0 ($spacer / 2) 6px 0 rgba(0, 0, 0, 0.2);

                .support-icon {
                    color: $brand-color;
                }
            }
        }
    }
}
