@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.component-call {
    border-left: $spacer / 2 solid $white-color;
    color: $primary-color;
    display: flex;
    width: 100%;

    .soundmeter {
        background: $grey-color-lightest;
        height: $spacer / 4;
        margin: 0 auto;
        margin-top: $spacer;
        max-width: 350px;
    }
}


.call-actions {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    width: 100%;

    .rounded-button {
        border: 2px solid $grey-color-lightest;

        svg {
            @include icon-size($spacer * 4);
        }
    }

    .action {
        margin: $spacer;

        &.decline {
            background: $red-color;
            color: $white;
            &:hover {background: lighten($red-color, 10%);}
        }

        &.accept {
            background: $green-color;
            color: $white;
            &:hover {background: lighten($green-color, 10%);}
        }

        &.dial {
            background: $brand-color;
            color: $white;
            &:hover {background: lighten($brand-color, 10%);}
        }

        &.disabled {
            background: $grey-color;

            &:hover {
                background: $grey-color;
                cursor: not-allowed;
            }
        }
    }
}

