@import 'ca11/lib/variables';

.c-sidebar {
    background: var(--grey-50);
    display: flex;
    flex-direction: column;

    .header {
        align-items: center;
        background: var(--grey-50);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $spacer;

        .header-logo {
            height: 90px;
            text-align: center;
            width: 100%;

            img {
                margin: 0 auto;
                max-height: 100%;
                max-width: 100%;
            }
        }

        .header-title {
            color: var(--primary-base);
            font-family: 'Rajdhani';
            font-size: 1.4rem;
            font-weight: 600;
            letter-spacing: 0;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
        }

        .header-brand {
            color: var(--grey-300);
            font-family: 'Rajdhani';
            font-size: var(--text-small);
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
        }
    }

    .navigation {
        .navigation-header {
            background: var(--grey-100);
            color: var(--primary-base);
            font-family: 'Rajdhani';
            font-weight: 600;
            padding: var(--spacer);
            text-transform: uppercase;
        }

        .navigation-link {
            border-left: var(--border) solid transparent;
            color: var(--grey-400);
            display: block;
            padding: var(--spacer);
            width: 100%;

            &.active,
            &:hover {
                background: $white-color;
                border-right: var(--border) solid var(--primary-base);
                color: var(--primary-base);
                cursor: pointer;
            }
        }
    }
}
