@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.field {
    &__label {
        font-family: 'Rajdhani';
        font-weight: 600;
    }

    &__help {
        font-size: var(--text-small);
        font-style: italic;
    }

    &__row {
        display: flex;
    }
}


// Obfiscate text-input during test runs and screenshot
// generation. No need to give usernames away.
html.test {
    input {
        // We really, really don't want anything else here.
        color: transparent !important;  // sass-lint:disable-line no-important
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

        &::placeholder {
            text-shadow: none;
        }
    }
}
