/*
* CSS TOGGLE SWITCH
*
* Ionuț Colceriu - ghinda.net
* https://github.com/ghinda/css-toggle-switch
*
* Modified to fit in the CA11 theme.
*/
@import "ca11/lib/variables";

$size-unit: em !default;
$em-base: 16 !default;


@mixin clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

@import "css-toggle-switch/src/core/functions";
@import "css-toggle-switch/src/core/shared";
@import "css-toggle-switch/src/core/toggle";


.switch-toggle {
    background-color: $grey-color-lightest;
    border-radius: $spacer * 5;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
    margin: 0;

    input {
        display: none;

        & + label {
            border-radius: $spacer * 5;
            min-width: 55px;
            padding: 0;
            margin: 0;
            user-select: none;

            &:hover {
                cursor: pointer;
            }
        }

        &:checked {
            & + label {
                background-color: $brand-accent-color;
                color: $white-color;
            }
        }

        &:disabled + label {
            color: $grey-color-lighter;

            &:hover {
                cursor: not-allowed;
            }
        }

        &:focus + label {
            background-color: $brand-accent-color;
            outline: none;
        }
    }

    a {
        border-radius: 100%;
        left: 0;
        top: 0;
        transition: all .2s ease-out;
    }

    label {
        color: $grey-color-dark;
        font-size: 0.8rem;
        font-weight: 500;
        height: $spacer * 4;
        line-height: $spacer * 4;
        padding: 0 $spacer * 2;
        text-align: center;
        vertical-align: middle;
    }


    &.switch-toggle {
        a {
            background-color: $brand-accent-color;
            transition: all 0.12s ease-out;
        }
    }
}