@import 'ca11/lib/variables';

.field-radio-group {
    input {
        border: 0;
        height: 0;
        overflow: hidden;
        position: absolute !important;
        width: 0;

        &:checked + label {
            background: $brand-color;
            color: $white-color;
        }
    }

    label {
        background: $grey-color-lightest;
        color: rgba(0, 0, 0, 0.6);
        display: inline-block;
        font-family: 'Rajdhani';
        font-size: 0.9rem;
        font-weight: 600;
        height: $spacer * 4;
        line-height: $spacer * 4;
        text-align: center;
        text-shadow: none;
        transition: all 0.2s ease-in-out;
        width: $spacer * 7;

        &:first-of-type {
            border-right: 0;
        }

        &:last-of-type {
            border-left: 0;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
