@import 'ca11/lib/variables';

.c-main {
    display: flex;
    overflow-y: scroll;

    .app-view-main {
        background: $white-color;
        height: 100vh;
        margin-left: 300px;
        padding: $spacer * 4;
        padding-bottom: $spacer * 8;
        width: 100%;
    }
}
