@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.component-wizard-devices {
    &.step {
        .step-description {
            padding-bottom: 0;

            .component-device-picker {
                margin-bottom: $spacer * 2;
                margin-top: $spacer * 2;
                text-align: left;

                .field {
                    .control {
                        width: 100%;
                    }
                }
            }

            .progress {
                margin-bottom: $spacer * 2;
            }
        }
    }


}
