@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-devices {
    .c-device-controls {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: var(--gutter);

        .c-select {
            width: 100%;

            label {
                text-align: left;
            }

            &__help {
                text-align: left;
                width: 100%;

            }
        }
    }
}
