.c-text {
    display: flex;
    flex-direction: column;

    &__label {
        width: 100%;
    }

    &__element {
        border: 1px solid var(--grey-100);
        font-size: var(--text-small);
        padding: var(--spacer);
        width: 100%;

        &:focus,
        &:active {
            border: 1px solid var(--primary-base);
            box-shadow: 0 0 var(--border) var(--primary-base);
        }

        &::placeholder {
            color: var(--grey-200);
        }
    }

    &__help {
        margin-top: var(--spacer-05);
    }
}
