@import 'ca11/lib/variables';
@import 'ca11/lib/mixins';

// The default styling is against a white background. The
// `call-ongoing` class is used to differentiate.
.component-call-keypad-touch {
    width: 100%;

    header {
        padding: $spacer * 3;
        padding-bottom: 0;

        .switch-toggle {
            margin-top: -$spacer / 2;
        }
    }

    .keypad {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        z-index: 1000000;

        .contacts-match {
            color: $primary-color;
            font-weight: 500;
            height: $spacer * 3;
            text-align: center;
        }

        .number-input {
            align-items: center;
            color: $brand-color;
            display: flex;
            justify-content: center;
            max-width: 700px;
            position: relative;
            width: 100%;

            input {
                @include no-outline;

                border: 0;
                color: $brand-color;
                font-size: 1.8rem;
                font-weight: 500;
                height: $spacer * 5;
                overflow: hidden;
                padding: 0 $spacer * 5;
                text-align: center;
                text-overflow: ellipsis;
                width: 100%;

                &[disabled='disabled'] {
                    &::placeholder {
                        color: $grey-color-light;
                    }
                }

                &::placeholder {
                    color: $brand-accent-color;
                }
            }

            .correct {
                color: $brand-accent-color;
                position: absolute;
                right: 10px;

                &.disabled {
                    opacity: 0.5;

                    &:hover {
                        cursor: not-allowed;
                    }
                }

                svg {
                    height: 1.8rem;
                    width: 1.8rem;
                }

                &:hover {
                    cursor: pointer;
                    svg {fill: $brand-color;}
                }
            }

            + .number-input-match {
                color: $grey-color-darker;
                height: $spacer * 5;
                line-height: $spacer * 5;
            }
        }

        .soundmeter {
            background: $grey-color-lightest;
            height: $spacer / 2;
            max-width: 350px;
        }


        .keys {
            align-content: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 700px;
            width: 100%;

            &.disabled {
                opacity: 0.5;

                .key-row {
                    .key {
                        &:hover {
                            background: $white;
                            color: $brand-color;
                            cursor: not-allowed;
                        }
                    }
                }
            }

            .key-row {
                display: flex;
                flex-grow: 1;
                justify-content: center;
                // padding-bottom: 5px;

                .key {
                    @include no-outline;
                    background: none;
                    border: 0;
                    break-inside: avoid;
                    color: $brand-color;
                    font-family: 'Rajdhani';
                    font-size: 1.5rem;
                    font-weight: 600;
                    height: 80px;
                    margin: 0;
                    width: 100%;

                    &:hover {
                        background: $grey-color-lightest;
                        color: $brand-color;
                        cursor: pointer;
                    }

                    &.function {
                        color: $grey-color;
                        font-size: 1.5rem;
                    }

                    .sub {
                        color: $grey-color;
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .rounded-button {
            svg {
                @include icon-size($spacer * 4);
            }
        }
    }



}
