@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-media-preview {
    background: $grey-color-lighter;
    display: flex;
    flex-direction: row;
    width: 100%;

    .c-media-stream {
        margin: $spacer / 4;
        width: $spacer * 5;

        &.selected {
            border: $spacer / 4 solid $brand-color;
        }

        @media screen and (min-width: $breakpoint-mobile) {
            border: $spacer / 2 solid $white-color;
            width: 100px;

            &.selected {
                border: $spacer / 2 solid $brand-color;
            }
        }

        &:first-child {
            margin-left: 0;
        }
    }
}
