@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-media-preview {
    background: var(--grey-100);
    // overflow: visible !important;
    display: flex;
    flex-direction: row;
    width: 100%;

    .streams-container {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    .media-stream {
        filter: grayscale(100%);
        width: var(--space-4);

        &.selected {
            filter: grayscale(0%);
        }
    }
}
