@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


// The most upper box containing account info and
// icon-links to several locations.
.component-call-switch {
    background: $grey-color-lightest;
    border-right: $spacer / 2 solid $grey-color-lighter;
    display: flex;
    width: 100%;
    z-index: 10000000;

    .call {
        @include icon-size($spacer * 6);
        align-items: center;
        border-right: $spacer / 2 solid $grey-color-lighter;
        display: flex;
        justify-content: center;

        &:hover {
            background: $white-tint-color-bright;

            svg {
                fill: $brand-color;
            }
        }

        svg {
            @include icon-size($spacer * 3);
            fill: $primary-color;
            margin-left: -1px;
        }

        &.hint {
            @include animation('hint-pulse 1s infinite ease-in-out');
        }

        &.active {
            background: $white-color;
            border-right: $spacer / 2 solid $brand-color;
            svg {fill: $brand-color;}
        }
    }
}
