@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.video-strip {
    border-left: $spacer / 2 solid $grey-color-lighter;
    display: flex;
    flex-direction: column;
    width: 150px;

    video {
        background: $grey-color-lighter;
        display: block;
        width: 100%;
    }
}
