@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.c-select {
    $self: &;
    font-family: 'Rajdhani';
    max-width: 300px;

    &__control {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    &__element-container {
        display: flex;
        z-index: 1000;

        #{$self}__element {
            font-size: 1rem;
            outline: none;
            padding: $spacer;
            user-select: none;
            width: 100%;

            &::placeholder {
                color: var(--grey-300);
                font-family: 'Rajdhani';
            }

            &:focus {
                // outline: 1px solid var(--primary-base);
            }

            &:hover {
                cursor: pointer;
            }
        }
    }


    &__options {
        background: var(--grey-50);
        border: 1px solid var(--grey-200);
        box-shadow: 0 0 $spacer rgba(palette('grey', 500), 0.8);
        font-weight: 600;
        margin-top: $spacer * 5;
        max-height: 162px;

        max-width: inherit;
        overflow-y: auto;
        position: absolute;
        width: inherit;
        z-index: 100000;

        .option {
            color: var(--grey-200);
            padding: $spacer;
            text-align: left;
            user-select: none;
            width: inherit;

            &.selected {
                background: $white-color;
                color: var(--primary-base);

            }

            &:hover {
                background: $white-color;
                color: var(--primary-base);
                cursor: pointer;
            }
        }
    }
}
