@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-login {
    $self: &;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-items: stretch;
    margin: 0 auto;
    max-width: 400px;
    padding: $spacer * 3;
    width: 100%;


    header {
        text-align: center;
        width: 100%;

        #{$self}__title {
            color: var(--primary-base);
            font-family: 'Rajdhani';
            font-size: calc(var(--text-base) * 2);
            letter-spacing: 3px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }


    &__subtitle {
        color: var(--grey-400);
        font-size: var(--text-base);
        font-weight: 600;
        font-family: 'Rajdhani';
        text-transform: capitalize;
        letter-spacing: 0px;
        padding: var(--spacer);
    }


    // .welcome-message {
    //     color: var(--grey-400);
    //     max-width: 70%;
    //     padding-bottom: $spacer;
    //     padding-top: $spacer * 2;

    //     .session-name {
    //         color: var(--primary-base);
    //         font-style: italic;
    //     }
    // }

    .buttons {
        padding-bottom: $spacer;
    }

    footer {
        color: $grey-color;
        font-size: 0.8rem;
        text-align: center;

        svg {
            color: var(--primary-base);
            margin-top: -2px;
            padding: 0 ($spacer / 6);
            width: $spacer * 2.5;

            &:hover {
                cursor: pointer;
            }
        }
    }


    .sessions {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: $spacer * 3;
        padding-top: 0;

        .new-session-text {
            color: $grey-color;
            margin-bottom: $spacer;
            margin-top: $spacer * 2;
        }

        .new-session {
            svg {
                margin-right: $spacer;
            }

            &:hover {
                color: var(--primary-base);
                cursor: pointer;
            }
        }

        .session {
            align-items: center;
            background: var(--grey-50);
            border-bottom: 2px solid var(--grey-100);
            border-top: 2px solid transparent;
            display: flex;
            margin-bottom: $spacer / 2;
            width: 100%;

            svg {
                color: $grey-color;
                margin: 0 $spacer;
                transition: color 0.2s ease-in;
            }

            .icon-session svg {
                @include icon-size($spacer * 3);
            }

            .icon-remove svg {
                @include icon-size($spacer * 2.5);

                &:hover {
                    color: var(--primary-base);
                }
            }

            &:hover {
                border-bottom: 2px solid var(--primary-base);
                cursor: pointer;

                .icon-session svg {
                    color: var(--primary-base);
                }
            }

            .description {
                color: var(--grey-300);
                font-size: 0.9rem;
                font-weight: 500;
                height: $spacer * 5;
                line-height: $spacer * 5;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }
        }
    }

}
