@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

// The most upper box containing account info and
// icon-links to several locations.
.component-main-statusbar {
    background: $grey-color-lightest;
    border-bottom: $spacer / 2 solid $grey-color-lighter;
    border-top: $spacer / 2 solid $brand-color;
    color: $grey-color;
    display: flex;
    font-family: 'Rajdhani';
    font-size: 0.9rem;
    font-weight: 600;
    height: ($spacer * 6);
    justify-content: space-between;
    transition: background 0.5s ease;
    z-index: 100;

    &.error .status-indicators svg {fill: $red-color;}
    &.warning .status-indicators svg {fill: $red-color;}
    &.ok .status-indicators svg {fill: $green-color;}

    .status-indicators svg.disabled {fill: $grey-color-light;}

    &.call-active {
        background: $green-color;
    }

    [class^='icon-'] {
        &:hover {
            color: $brand-color;
        }
    }

    .status-indicators {
        // Don't wrap but put dots at the end if it doesn't fit.
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        white-space: nowrap;

        .status-indicator {
            text-align: center;
            width: $spacer * 6;

            svg {
                @include icon-size($spacer * 3.5);
            }
        }


        .dnd-switch {
            margin-left: $spacer * 3;
        }
    }

    // The icon links container at the right top of the popup.
    .menu-options {
        align-items: center;
        display: flex;
        flex-direction: row;

        .option {
            height: $spacer * 5;
            line-height: $spacer * 5;
            padding: 0 $spacer;

            svg {
                @include icon-size($spacer * 3);
            }

            &.disabled {
                opacity: 0.3;

                &:hover {
                    cursor: default;
                }
            }

            &.active,
            &:hover {
                background: $white;
                color: $brand-color;
                cursor: pointer;
            }
        }
    }

    .in-call-info {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }

    .call-info {
        margin-right: $spacer;
    }
}
