@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-media-controls {
    background: $grey-color-lightest;
    grid-column: col-side;
    grid-row: row-status / 6;

    .media-container {
        border-right: $spacer / 2 solid $grey-color-lighter;

        &:hover {
            cursor: pointer;
        }

        &.selected {
            border-right: $spacer / 2 solid $brand-color;
        }
    }
}
