@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.c-media-controls {
    background: linear-gradient(to left, var(--grey-50), var(--grey-100));
    z-index: 100;

    .media-stream {
        filter: grayscale(100%);
        height: calc(var(--space-433));


        &.selected {
            filter: grayscale(0%);
        }

        &:hover {
            cursor: pointer;
        }

    }
}

