@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.component-media-stream {
    background: $grey-color-lightest;
    border-bottom: 4px solid $white;
    display: flex;
    padding: calc(100% / 3);
    position: relative;

    svg {
        @include icon-size($spacer * 5);
        position: absolute;
    }

    audio {

        // background: $grey-color;
        // width: 100%;
    }

    video {
        display: block;
        max-height: 100%;
        padding: $spacer / 4;
        position: absolute;
    }
}
