@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


html.chrome.android {
    &:not(.standalone) {
        .c-stream-view {
            height: calc(100vh - #{($spacer * 13) + $android-toolbar-height});
        }
    }
}

.c-stream-view {
    align-items: stretch;
    background: linear-gradient(to right, var(--grey-50), var(--grey-100));
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100vh - #{($spacer * 13)});
    justify-content: space-evenly;
    margin-top: $spacer-05;
    position: relative;
    width: 100%;

    .slot {
        height: calc(100% / 3);
        width: 50%;
    }

    @media screen and (min-width: $breakpoint-mobile) {
        .slot {
            height: calc(100% / 3);
            width: 50%;
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        .slot {
            height: 50%;
            width: calc(100% / 3);
        }
    }

    .c-stream {
        background: var(--grey-500);
        display: flex;
        flex: 1;
        height: 100%;
        transition: all 0.25s;

        &.placeholder {
            background: none;

            svg {
                fill: var(--grey-200);
            }
        }

        video {
            background: none;
        }
    }
}


.tr-stream-enter {
    opacity: 0;
    transform: scale(0);
}

.tr-stream-enter-to {
    opacity: 1;
    transform: scale(1);
}

.tr-stream-leave {
    opacity: 1;
    transform: scale(1);
}

.tr-stream-leave-to {
    opacity: 0;
    transform: scale(0);
}

.tr-stream-enter-active {
    transition: all 0.5s;
}
