@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.c-status-menu {
    align-items: center;
    background: var(--grey-50);
    color: var(--grey-200);

    // The icon links container at the right top of the popup.
    &__menu {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: row;
    }

    &__indicator,
    &__option {
        width: $space-4;
    }

    &__button {
        /// Account for the grid-gap.
        &:first-child {
            margin-right: $spacer-05;
        }

        &.disabled {
            opacity: 0.3;

            &:hover {
                cursor: default;
            }
        }

        &:hover,
        &.active {
            color: var(--primary-base);
            cursor: pointer;
        }

        &.active {
            border-bottom: $border solid var(--primary-base);
        }
    }

    &__indicator {
        .container {
            background: $white-color;
            border: $border solid var(--grey-200);
            border-radius: 50%;
            display: inline-block;
            padding: $spacer / 4;

            svg {
                @include icon-size($spacer * 2.5);
                fill: var(--grey-300);
            }

            &.error {
                border: $border solid $red-color;
                svg {fill: $red-color;}
            }

            &.warning {
                border: $border solid $red-color;
                svg {fill: $red-color;}
            }

            &.ok {
                border: $border solid $green-color;
                svg {fill: $green-color;}
            }

            &.disabled {background: var(--grey-100);};
        }
    }
}
