@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-main-menu {
    background: var(--grey-50);
    z-index: 100;

    .options {
        // Keeps the menubar icons from scrolling with the main content.
        .option {
            align-items: center;
            border-right: $spacer-05 solid transparent;
            color: var(--grey-200);
            display: flex;
            flex-direction: column;
            height: var(--space-433);
            justify-content: center;
            transition: border-color 150ms ease-in-out;

            svg {
                @include icon-size(var(--icon-normal));
            }

            // Unread red-dot on top of the recent icon.
            &.unread {
                position: relative;

                &::after {
                    @include icon-size(14px);
                    animation: bounce 0.5s ease-in-out infinite;
                    background: var(--primary-base);
                    border-radius: 50%;
                    bottom: 13px;
                    content: '';
                    left: 3px;
                    position: absolute;
                    z-index: 10;
                }
            }

            &.calls {
                &.calls-active {
                    // background: lighten(var(--primary-base), 10%);

                    // &.active {
                    //     background: $white-color;
                    //     svg {fill: var(--primary-base);}
                    // }
                    // svg {fill: $white-color;}
                }
            }

            &.active,
            &:hover {
                border-right: $spacer-05 solid var(--primary-base);
                color: var(--primary-base);
                cursor: pointer;
                // Cascading error in Chrome when using svg path selector.
            }
        }
    }
}

