@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.media-stream {
    background: var(--grey-500);
    display: grid;
    // Needed with object-fit: cover.
    overflow: hidden;
    position: relative;
    transition: all 0.5s;

    &.no-progress {
        display: none;
    }

    // Maintain 16/9 aspect ratio for this container.
    &::before {
        content: url("data:image/svg+xml,%3Csvg viewBox='0 0 4 3' xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E");
        display: block;
        grid-area: 1 / 1 / 2 / 2;
        line-height: 0;
    }

    .media-stream-icon {
        fill: var(--grey-400);
        height: 100%;
        position: absolute;
        width: 100%;
    }

    video {
        // The getUserMedia video is flipped; unflip it.
        transform: scaleX(-1);
    }

    audio,
    video,
    .content {
        align-items: center;
        color: var(--grey-300);
        display: grid;
        font-family: 'Rajdhani';
        font-weight: 600;
        grid-area: 1 / 1 / 2 / 2;
        height: 100%;
        justify-content: center;
        object-fit: cover;

        position: relative;
        width: 100%;
    }


    &__loading {
        @include icon-size(50%);
        margin: 0 auto;
    }


    &__controls {
        align-items: center;
        background: rgba(palette('grey', 500), 0.2);
        // border-top: 1px solid var(--grey-400);
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        width: 100%;
        z-index: 100000000;

        svg {
            @include icon-size($icon-large);
            fill: var(--grey-100);

            &.active:hover,
            &.active {
                fill: var(--primary-base);
                filter: drop-shadow(0 0 $spacer / 2 $white-color);
            }

            &:hover {
                background: rgba(palette('grey', 50), 0.3);
                cursor: pointer;
                fill: $white-color;
            }
        }
    }


    &__placeholder {
        background: var(--grey-500);
        color: var(--grey-50);
        font-family: 'Rajdhani';
        font-weight: 600;
        text-align: center;

        svg {
            @include icon-size($spacer * 6);
        }
    }

    &__stats {
        color: var(--grey-100);
        text-align: center;
    }
}


.tr-stream-enter {
    opacity: 0;
    // transform: scale(0);
}

.tr-stream-enter-to {
    opacity: 1;
    // transform: scale(1);
}

.tr-stream-leave-to {
    // position: absolute;
    opacity: 0;
    // transform: scale(0);
}

.tr-stream-enter-active {
    transition: all 0.5s;
}

.tr-stream-leave-active {
    // position: absolute;
    transition: all 0.5s;

    .content {
        display: none;
    }
}

.tr-stream-move {
    opacity: 0.75;
    transition: all 0.25s;
}
