@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.component-contacts {
    .item-list {
        .item {
            &:hover {
                cursor: pointer;
            }
        }
    }
}


.presence-led {
    @include icon-size($spacer * 1.5);
    background: $grey-color-lighter;
    border-radius: 50%;
    margin-right: $spacer / 1.5;


    &.unregistered {
        path[pid='0'] {fill: $grey-color-light;}
        path[pid='1'] {fill: $grey-color-lightest;}
    }

    &.unavailable,
    &.no-results {
        path[pid='0'] {fill: $grey-color;}
        path[pid='1'] {fill: $white;}
    }

    &.busy {
        path[pid='0'] {fill: $red-color;}
        path[pid='1'] {fill: $white;}
    }

    &.available {
        path[pid='0'] {fill: $green-color;}
        path[pid='1'] {fill: $white;}
    }

    &.ringing {
        animation: ringing-svg 0.75s ease-in-out infinite;

        path[pid='0'] {fill: $red-color;}
        path[pid='1'] {fill: $white;}
    }
}

.endpoint-status-led {
    &.unregistered {background: $grey-color-light;}

    &.unavailable,
    &.no-results {
        &.unregistered {background: $grey-color;}
    }

    &.busy {background: $red-color;}

    &.available {background: $green-color;}

    &.ringing {
        animation: ringing-element 0.75s ease-in-out infinite;
        background-color: $red-color;
        box-shadow: rgba(saturate($red-color, 20%), 0.8) 0 0 10px;
    }
}
