@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-contacts {
    .item-list {
        .item {
            &:hover {
                cursor: pointer;
            }
        }

        .context-item-icon {
            &.available svg {fill: $green-color;}
            &.busy svg {fill: $red-color;}
            &.not-set svg {fill: $grey-color;}

            &.failed {
                background: $red-color;

                svg {
                    fill: $white-color;
                }
            }
        }
    }
}


.presence-led {
    @include icon-size($spacer * 1.5);
    background: $grey-color-lighter;
    border-radius: 50%;
    margin-right: $spacer / 1.5;

    &.available {background: $green-color;}
    &.busy {background: $red-color;}
    &.not-set {background: $grey-color-lighter;}

    &.failed {
        background: $grey-color-lightest;
        border: 1px solid $red-color;
    }

    &.ringing {
        animation: ringing-svg 0.75s ease-in-out infinite;

        path[pid='0'] {fill: $red-color;}
        path[pid='1'] {fill: $white;}
    }
}
