@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.c-status {
    align-items: center;
    background: var(--grey-50);
    color: var(--grey-200);

    // The icon links container at the right top of the popup.
    &__menu {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: row;
        height: 100%;
    }

    &__indicator,
    &__option {
        border-left: var(--border) solid transparent;
        border-right: var(--border) solid transparent;
        height: 100%;
        width: calc(var(--space-4));

        svg {
            @include icon-size(var(--icon-normal));
        }
    }

    &__option {
        /// Account for the grid-gap.
        &:first-child {
            margin-right: var(--spacer-05);
        }

        &.disabled {
            opacity: 0.3;

            &:hover {
                cursor: default;
            }
        }

        &.active {
            border-right: var(--border) solid var(--primary-base);
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__indicator {
        .container {
            background: $white-color;
            border: $border solid var(--grey-200);
            border-radius: 50%;
            display: inline-block;
            padding: $spacer / 4;

            svg {
                @include icon-size($spacer * 2.5);
                fill: var(--grey-300);
            }

            &.error {
                border: $border solid $red-color;
                svg {fill: $red-color;}
            }

            &.warning {
                border: $border solid $red-color;
                svg {fill: $red-color;}
            }

            &.ok {
                border: $border solid $green-color;
                svg {fill: $green-color;}
            }

            &.disabled {background: var(--grey-100);};
        }
    }


    &__menu-side {
        // Don't wrap but put dots at the end if it doesn't fit.
        align-items: stretch;
        background: var(--grey-50);
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        white-space: nowrap;

        .option {
            width: var(--space-4);
        }
    }
}


// Shared between c-main-status and c-call-status.
.main-status {
    display: flex;
    font-family: 'Rajdhani';
    // font-size: text-scale('sm');
    font-weight: 600;
    justify-content: space-between;
    // margin-bottom: var(--spacer-05);
    transition: background 0.5s ease;
    z-index: 100;

    [class^='icon-'] {
        &:hover {
            color: var(--primary-base);
        }
    }

    .in-call-info {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }

    .call-info {
        margin-right: $spacer;
    }
}
