@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.c-status {
    align-items: center;
    background: var(--grey-50);
    box-shadow: 0 0 2px 1px palette('grey', 200);
    color: var(--grey-200);

    // The icon links container at the right top of the popup.
    &__menu {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: row;
        height: 100%;
    }

    &__indicator,
    &__option {
        width: $space-4;
    }

    &__button {
        border-left: 0;
        border-right: 0;

        /// Account for the grid-gap.
        &:first-child {
            margin-right: $spacer-05;
        }

        &.disabled {
            opacity: 0.3;

            &:hover {
                cursor: default;
            }
        }

        &:hover,
        &.active {
            border-bottom: 1px solid var(--primary-base);
            color: var(--primary-base);
            cursor: pointer;
        }
    }

    &__indicator {
        .container {
            background: $white-color;
            border: $border solid var(--grey-200);
            border-radius: 50%;
            display: inline-block;
            padding: $spacer / 4;

            svg {
                @include icon-size($spacer * 2.5);
                fill: var(--grey-300);
            }

            &.error {
                border: $border solid $red-color;
                svg {fill: $red-color;}
            }

            &.warning {
                border: $border solid $red-color;
                svg {fill: $red-color;}
            }

            &.ok {
                border: $border solid $green-color;
                svg {fill: $green-color;}
            }

            &.disabled {background: var(--grey-100);};
        }
    }
}


// Shared between c-main-status and c-call-status.
.main-status {
    display: flex;
    font-family: 'Rajdhani';
    font-weight: 600;
    justify-content: space-between;
    transition: background 0.5s ease;
    z-index: 100;

    [class^='icon-'] {
        &:hover {
            color: var(--primary-base);
        }
    }

    .in-call-info {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }

    .call-info {
        margin-right: $spacer;
    }
}
